.link {
  font-size: 16px;
  color: rgb(3, 23, 74);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.wrapper {
  display: flex;
  margin-top: 20px;
}
.img {
  margin-right: 50px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  border: solid 2px rgb(81, 88, 212);
}

.genres {
  display: flex;
}
.genresList {
  display: flex;
  gap: 10px;
  align-items: center;
}
.text {
  font-weight: 700;
}
.navLink {
  font-size: 20px;
  color: black;
}
.navLink:hover,
.navLink:focus {
  color: orangered;
}
